/*-------------------------------------------------------
Colors
---------------------------------------------------------*/

$primary-color: var(--primary-color, #000000);
$secondary-color: var(--secondary-color, #000000);
$bg-color: var(--bg-color, #000000);
$border-color: var(--border-color, #000000);

$text-primary: var(--text-primary, #000000);
$text-secondary: var(--text-secondary, #000000);

$hover-bg-color: var(--hover-bg-color, #000000);
$hover-text-color: var(--hover-text-color, #000000);